.parent {
  position: relative;
  height: 100%;
}
.child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1{
  text-align: center;
}
p {
  font-size: 18;
}
button {
  margin-top: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
